.category-page{
    &__body{
        display: grid;
        grid-template-columns: minmax(240px, 340px) 1fr;
        gap: 40px;
        @media (max-width: $mobile) {
            grid-template-columns: 1fr;
        }
    }
}

.filter{
    &-group{
        h5{
            margin-bottom: 20px;
        }
        .filter-group__options{
            display: flex;
            flex-direction: column;
            gap: 10px;
            &:not(:last-child){
                margin-bottom: 30px;
            }
            .filter-group__option{
                label{
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    input[type="checkbox"] {
                        clip: rect(0 0 0 0);
                        clip-path: inset(50%);
                        height: 1px;
                        overflow: hidden;
                        position: absolute;
                        white-space: nowrap;
                        width: 1px;
                      }
                    .checkbox {
                        display: inline-block; // set to `inline-block` as `inline elements ignore `height` and `width`
                        height: 20px;
                        width: 20px;
                        background: #fff;
                        border: 2px $maincolor solid;
                        border-radius: 4px;
                      }
                      
                      .checkbox--active {
                          position: relative;
                          &::after{
                            content: "\e904";
                            font-family: 'icomoon';
                            position: absolute;
                            left: 50%;
                            transform: translateX(-50%);
                            color: $accentcolor;
                          }
                      }
                      .color{
                          width: 18px;
                          height: 18px;
                          border-radius: 50%;
                      }
                      .items{
                          margin-left: auto;
                          color: $bluecolor;
                      }
                }
            }
            .filter-group__more{
                display: flex;
                align-items: center;
                justify-content: flex-start;
                margin-top: 5px;
                font-weight: 500;
                color: $accentcolor;
            }
        }
    }
}


.noUi-connect{
    background: $accentcolor !important;
}

.noUi-horizontal{
    height: 2px !important;
}

.noUi-target{
    border: none !important;
    background-color: $graycolor !important;
    box-shadow: none !important;
}

.noUi-touch-area{
    background-color: $accentcolor;
    border-radius: 50% !important;
}


.noUi-horizontal .noUi-handle{
    width: 18px !important;
    height: 18px !important;
    border: none !important;
    transform: translateY(-2px);
    right: -9px !important;
}

.noUi-handle:before, .noUi-handle:after{
    display: none !important;
}

.input-group{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 20px;
}