.hero{
    @include adaptiv-value('margin-top', 50, 30, 1);
    .swiper{
        &-button-next {
            background-image: url(../img/next.svg);
            background-repeat: no-repeat;
            background-position: center;
            @include adaptiv-value('width', 65, 40, 1);
            @include adaptiv-value('height', 65, 40, 1);
            border-radius: 50%;
            transition: .4s;
            &:hover{
                transform: scale(1.1);
            }
        }
          
        &-button-next::after {
            display: none;
        }
        &-button-prev {
            background-image: url(../img/next.svg);
            background-repeat: no-repeat;
            background-position: center;
            @include adaptiv-value('width', 65, 40, 1);
            @include adaptiv-value('height', 65, 40, 1);
            border-radius: 50%;
            transform: rotate(180deg);
            transition: .4s;
            &:hover{
                transform: scale(1.1) rotate(180deg);
            }
        }
          
        &-button-prev::after {
            display: none;
        }

        .swiper-pagination-bullet{
            width: 12px;
            height: 12px;
            opacity: 1;
            background-color: $graycolor;
            &.swiper-pagination-bullet-active{
                background-color: $accentcolor;
            }
        }
        &-slide{
            position: relative;
            height: 400px;
            &::after{
                content: '';
                position: absolute;
                inset: 0;
                width: 100%;
                height: 100%;
                border-radius: 30px;
                background-color: rgba(0, 0, 0, 0.5);
                pointer-events: none;
            }
            img{
                width: 100%;
                height: 100%;
                border-radius: 30px;
                object-fit: cover;
                position: relative;
            }
            .hero-slider__text{
                position: absolute;
                z-index: 2;
                top: 50%;
                left: 50%;
                color: $lightcolor;
                width: 65%;
                text-align: center;
                transform: translate(-50%, -50%);
                padding: 15px 0;
                h1{
                    margin-bottom: 20px;
                }
            }
        }
    }
}

.category{
    &__body{
        
        .category-body__category{
            width: 100%;
            padding: 45% 0;
            display: flex;
            align-items: center;
            justify-content: center;
            @include adaptiv-value('border-radius', 20, 10, 1);
            position: relative;
            transition: .3s;
            @media (max-width: $tablet) {
                padding: 25% 0;
            }
            @media (max-width: $mobileMedium) {
                padding: 15% 0;
            }
            &:hover{
                transform: scale(1.04);
                h3{
                    opacity: 1;
                    transform: translateY(0);
                }
                &::after{
                    opacity: 1;
                }
            }
            &::after{
                content: '';
                position: absolute;
                inset: 0;
                border-radius: 20px;
                transition: .3s;
                opacity: 0;
                background-color: rgba(0, 0, 0, 0.4);
                @media (max-width: $tablet) {
                    opacity: 1;
                }
            }
            h3{
                position: relative;
                z-index: 2;
                opacity: 0;
                transform: translateY(-30px);
                transition: .3s;
                color: $lightcolor;
                @media (max-width: $tablet) {
                    transform: translateY(0);
                    opacity: 1;
                }
            }
        }
    }
}

.brands{
    &__body{
        .brands-body__item{
            @include adaptiv-value('border-radius', 20, 10, 1);
            @include adaptiv-value('height', 230, 180, 1);
            width: 100%;
            display: block;
            height: 230px;
            position: relative;
            display: flex;
            align-items: center;
            transition: .3s;
            justify-content: center;
            &:hover{
                transform: scale(1.03);
                h3{
                    opacity: 1;
                    transform: translateY(0);
                }
                &::after{
                    opacity: .5;
                }
            }
            &::after{
                @include adaptiv-value('border-radius', 20, 10, 1);
                content: '';
                position: absolute;
                inset: 0;
                opacity: .2;
                background-color: #000;
                transition: .3s;
                @media (max-width: $tablet) {
                    opacity: .5;
                }
            }
            h3{
                position: relative;
                z-index: 2;
                opacity: 0;
                transform: translateY(-30px);
                transition: .3s;
                color: $lightcolor;
                @media (max-width: $tablet) {
                    transform: translateY(0);
                    opacity: 1;
                }
            }
        }
    }
}

.watched{
    &__container{}
    &__body{
        
    }
}