h1 {
    @include adaptiv-value('font-size', 28, 26, 1);
    line-height: 140%;
}

h2 {
    @include adaptiv-value('font-size', 26, 24, 1);
    line-height: 140%;
}

h3 {
    @include adaptiv-value('font-size', 24, 22, 1);
    line-height: 140%;
}

h4 {
    @include adaptiv-value('font-size', 22, 20, 1);
    line-height: 140%;
}

h5 {
    @include adaptiv-value('font-size', 20, 18, 1);
    line-height: 140%;
}

h6 {
    @include adaptiv-value('font-size', 18, 16, 1);
    line-height: 140%;
}

p {
    font-size: 14px;
    line-height: 160%;
}

.big {
    @include adaptiv-value('font-size', 16, 14, 1);
    line-height: 160%;
}

.medium {
    font-weight: medium;
}
section{
    margin-top: 100px;
    @include adaptiv-value('margin-top', 100, 80, 1);
    h2{
        @include adaptiv-value('margin-bottom', 30, 20, 1);
    }
}
.button {
    display: block;
    width: 100%;
    background-color: #6C4FE1;
    transition: .3s;
    font-weight: 500;
    font-size: 16px;
    color: $lightcolor;
    border-radius: 4px;
    &:hover {
        background-color: lighten($color: #6C4FE1, $amount: 5);
    }
}

.burger {
    display: block;
    position: relative;
    min-width: 40px;
    height: 32px;
    cursor: pointer;
    z-index: 5;
    span,
    &::before,
    &::after {
        content: '';
        transition: all .3s ease 0s;
        left: 0;
        position: absolute;
        width: 100%;
        height: 4px;
        background-color: $accentcolor;
        border-radius: 4px;
    }
    &::before {
        top: 4px;
    }
    &::after {
        bottom: 4px;
    }
    span {
        top: calc(50% - 2px);
    }
    &.active {
        span {
            transform: scale(0);
        }
        &::before {
            transform: rotate(-45deg);
            top: calc(50% - 1px);
        }
        &::after {
            transform: rotate(45deg);
            top: calc(50% - 1px);
        }
    }
}

form {
    input,
    textarea {
        width: 100%;
        border: 1px solid #718093;
        border-radius: 8px;
        transition: .3s;
        outline: none;
        padding: 10px 15px;
        font-size: 16px;
        &:focus {
            border: 1px solid $accentcolor;
        }
    }
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.masonry{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
    @include adaptiv-value('grid-gap', 20, 10, 1);
    @media (max-width: $mobileMedium) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: $mobileSmall) {
        grid-template-columns: repeat(1, 1fr);
    }
    &__item{
        &:nth-child(5n+1){
            grid-column: 2 span;
            @media (max-width: $mobileMedium) {
                grid-column: 1 span;
            }
        }
        &:nth-child(5n+2){
            grid-column: 2 span;
            @media (max-width: $mobileMedium) {
                grid-column: 1 span;
            }
        }
        &:nth-child(5n+3){
            grid-column: 2 span;
            @media (max-width: $mobileMedium) {
                grid-column: 1 span;
            }
        }
        &:nth-child(5n+4){
            grid-column: 3 span;
            @media (max-width: $mobileMedium) {
                grid-column: 1 span;
            }
        }
        &:nth-child(5n+5){
            grid-column: 3 span;
            @media (max-width: $mobileMedium) {
                grid-column: 1 span;
            }
        }
        &:last-child{
            @media (max-width: $mobileMedium) {
                display: none !important;
            }
        }
    }
}


.product{
    display: block;
    width: 100%;
    position: relative;
    transition: .3s;
    @media (max-width: $mobileSmall) {
        max-width: 85%;
        margin: 0 auto;
    }
    &:hover{
        transform: scale(1.03);
        .product-controls{
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
        }
    }
    &.product-small{
        .product-image{
            img{
                border-radius: 4px;
            }
            &::before{
                border-radius: 4px;
            }
        }
    }
    &-image{
        width: 100%;
        position: relative;
        display: block;
        height: 240px;
        margin-bottom: 15px;
        img{
            width: 100%;
            height: 100%;
            border-radius: 8px;
            object-fit: cover;
        }
        &::before{
            content: "";
            position: absolute;
            inset: 0;
            display: block;
            background-color: rgba(0, 0, 0, 0.4);
            z-index: 2;
            border-radius: 8px;
        }
    }
    &-meta{
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 20px;
        &__price{
            display: flex;
            align-items: center;
            gap: 10px;
            .old-price{
                font-size: 14px;
                text-decoration-line: line-through;
                color: $graycolor;
            }
        }
        .discount{
            padding: 2px 4px;
            border: 1px solid $accentcolor;
            border-radius: 20px;
            font-size: 10px;
            font-weight: 500;
            color: $accentcolor;
        }
    }
    &-info{
        display: flex;
        align-items: flex-start;
        gap: 5px;
        a{
            @include adaptiv-value('font-size', 18, 16, 1);
            line-height: 140%;
        }
        p{
            font-weight: 500;
            color: $bluecolor;
        }
    }
    .product-big__info{
        margin-bottom: 5px;
    }
    &-review{
        display: flex;
        align-items: center;
        gap: 2px;
        margin-bottom: 20px;
        span{
            font-size: 15px;
            &.icon-star__filled{
                color: $yellowcolor;
            }
        }
    }

    &-controls{
        display: flex;
        align-items: center;
        justify-content: space-between;
        opacity: 0;
        visibility: hidden;
        transform: translateY(30px);
        transition: .3s;
        @include adaptiv-value('gap', 60, 30, 1);
        @media (max-width: $tablet) {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
        }
        &__add{
            padding: 14px 0;
        }
        &__fav{
            color: $bluecolor;
            transition: .3s;
            &:hover{
                transform: scale(1.1);
            }
            &.added{
                color: $redcolor;
            }            
        }
    }
}

.d-grid-6{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    @media (max-width: $pc) {
        grid-template-columns: repeat(5, 1fr);
    }
    @media (max-width: 1200px) {
        grid-template-columns: repeat(4, 1fr);
    }
    @media (max-width: $tablet) {
        grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: $mobile) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: $mobileSmall) {
        grid-template-columns: repeat(1, 1fr);
        gap: 40px;
    }
}

.d-grid-5{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 30px 20px;
    @media (max-width: 1200px) {
        grid-template-columns: repeat(4,1fr);
    }
    @media (max-width: $tablet) {
        grid-template-columns: repeat(3,1fr);
    }
    @media (max-width: $mobile) {
        grid-template-columns: repeat(2,1fr);
    }
    @media (max-width: $mobileSmall) {
        grid-template-columns: repeat(1,1fr);
    }
}
.d-grid-4{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    @include adaptiv-value('gap', 20, 10, 1);
    @media (max-width: $tablet) {
        grid-template-columns: repeat(2,1fr);
    }
    @media (max-width: $mobileMedium) {
        grid-template-columns: repeat(1,1fr);
    }
}

.offer-banner{
    @include adaptiv-value('margin-top', 100, 80, 1);
    padding: 22px 15px;
    background-color: $lightcolor;
    text-align: center;
    margin-bottom: 40px;
}