$maincolor: #2F3640;
$accentcolor: #6C4FE1;
$greencolor: #63BA87;
$limecolor: #2ECC71;
$yellowcolor: #F1C40F;
$redcolor: #E74C3C;
$lightcolor: #F7F8FC;
$graycolor: #BDBDBD;
$bluecolor: #718093;

$fontFamily: 'Rubik';
$fontSize: 14px;