.footer{
    @include adaptiv-value('margin-top', 200, 100, 1);
    padding: 40px;
    background-color: $lightcolor;
    &__copyrights{
        text-align: center;
        display: block;
        font-size: 14px;
        color: $bluecolor;
    }
}